@import url('header.css');
@import url('nav.css');
@import url('figures.css');
@import url('form.css');
@import url('footer.css');

*
{
    font-family: courier;
    color: green;
    background-color: black;
    margin: 1%;
}
